<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>116098067723-avd5m9op16h1efkvn2176oev5o3snc2v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.116098067723-avd5m9op16h1efkvn2176oev5o3snc2v</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>116098067723-2oh9otsetopdpopf6q6q36mtoglqmfic.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCfzNY8Q9EhneFTK3zBFG6uYlLoJyo0eIA</string>
	<key>GCM_SENDER_ID</key>
	<string>116098067723</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.app1.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>eventlyst-a3a60</string>
	<key>STORAGE_BUCKET</key>
	<string>eventlyst-a3a60.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:116098067723:ios:b2aadb1a9ab815e74b860e</string>
</dict>
</plist>